name: Docker Image CI

on:
  push:
    branches: [ "main", "feature/ECR_and_image_push" ]
  pull_request:
    branches: [ "main" ]

jobs:
  create_image:
    runs-on: ubuntu-latest
    name: A job to build the new image
    steps:
      - name: Checkout
        uses: actions/checkout@v2 
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag node-resize:$(date +%s)
      - name: Login to ECR
        id: ecr
        uses: elgohr/ecr-login-action@v3
        with:
          access_key: ${{ secrets.AWS_ACCESS_KEY }}
          secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: ${{ secrets.AWS_REGION }}
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: node-resize
          username: ${{ steps.ecr.outputs.username }}
          password: ${{ steps.ecr.outputs.password }}
          registry: ${{ steps.ecr.outputs.registry }}
          dockerfile: Dockerfile