name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  create_image:
    runs-on: ubuntu-latest
    name: A job to build the new image
    steps:
      - name: Create new image from Dockerfile
        id: build
        uses: actions/build_docker
        with:
          who-to-greet: 'Mario :)'
      # Use the output from the `build` step
      - name: Get the output time
        run: echo "The time was ${{ steps.build.outputs.time }}"
