name: Docker Image CI

on:
  push:
    branches: [ "main", "feature/CICD_IAC" ]
  pull_request:
    branches: [ "main" ]

jobs:
  create_image:
    runs-on: ubuntu-latest
    name: A job to build the new image
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag node-resize:$(date +%s)
      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"